# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env
.envrc

# Git
.git
.gitignore

# IDE
.vscode/
.idea/

# Python caches
.pytest_cache/
.mypy_cache/

# macOS
.DS_Store

# Logs
logs/
*.log

# Test reports
coverage.xml
test-results.xml

# Deployment
deploy/

# Documentation
README.md